.main-nav {
  padding: var(--indent-base) 0;
  border: 1px solid var(--border);
  border-radius: var(--border-radius-default);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li a {
  display: block;
  padding: var(--indent-s) var(--indent-base);
}

.main-nav li a.active {
  color: var(--accent);
}
