.pagination {
  display: flex;
  gap: var(--indent-s);
  align-items: center;
  margin-top: var(--indent-base);
}

.pagination ul {
  display: flex;
  gap: var(--indent-xs);
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination button {
  display: block;
  padding: 2px 8px;
  background: var(--button-bg);
  border: 1px solid transparent;
  border-radius: var(--border-radius-default);
  color: var(--button-color);
}

.pagination .selected-page {
  background: var(--accent-bg);
  border-color: var(--accent-border);
  color: var(--accent);
}
