.post {
  position: relative;
  padding: var(--indent-s);
  border-bottom: 1px solid var(--border);
}

.post-data {
  margin-top: var(--indent-s);
  text-align: right;
}

.delete-post {
  position: absolute;
  top: var(--indent-s);
  right: var(--indent-s);
}
