.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--header-bg);
  border-radius: var(--border-radius-default);
}

.header .logo {
  width: 120px;
}

.header .logo img {
  display: block;
}

.login-block .container {
  display: flex;
}

.login-block img {
  width: 40px;
  margin-right: var(--indent-s);
  border-radius: 50%;
}

.login-block a {
  text-decoration: none;
}

.login-block button {
  padding: 0 var(--indent-xs);
}
