.form-control {
  margin-bottom: var(--indent-s);
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  padding: var(--indent-xs) var(--indent-s);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-default);
}

.form-control.error input,
.form-control.error textarea {
  border: 1px solid red;
}

.form-control .error-message {
  display: inline-block;
  margin-top: var(--indent-xs);
  color: red;
}

.form-group {
  margin-bottom: var(--indent-s);
}

.form-group label {
  display: inline-block;
  margin-bottom: var(--indent-xs);
}

.form-group textarea {
  min-height: 80px;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  gap: var(--indent-xs);
}

.form-group-checkbox .form-control {
  margin-bottom: 0;
}

.form-group-checkbox label {
  margin-bottom: 0;
}

.form-group-checkbox input {
  margin: 0;
}
